*{
    margin: 0px;
    padding: 0px;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url("rgb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.loginDiv{
    position: relative;
    height: auto;
    padding: 20px 0;
    width: 90%;
    max-width: 450px;
    background:transparent;
    border-radius: 20px;
    transition: transform 0.4s ease-in;
    border: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 3px 8px 40px rgba(0, 255, 255, 1);
    overflow: hidden;
    animation: fadeup 4s ease 0.8s 1 forwards,
               borderFlow 2s linear 0.1s infinite forwards;
}

.loginDiv:hover {
    border-width: 6px; /* Slightly thicker border */
    box-shadow: 6px 12px 50px rgba(0, 255, 255, 1); /* Shadow grows a bit too */
}

@keyframes fadeup {
    
    0%{

        transform: translateY(60px) scale(0.5);
        border-radius: 0;

    }

    50%{
        border-radius: 30% ;
    }

    100%{

         transform: translateY(0) scale(1);
    }
}

@keyframes borderFlow{

     0%{
         border-color: rgb(0, 255, 238);
         border-width: 6px;
     }

    100% { border-color: #ff2770;
           border-width: 6px;
    }
}


.loginDiv h2{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.form_box input{

    display: block;
    margin: 5px auto;
    background: transparent;
    padding-left: 9px;
    width: 55%;
    max-width: 450px;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    font-size: 20px;
    gap: 0px;
    color: white;
}

.form_box label{

    color: aliceblue;
    display: block;
    text-align: center;
    width: 50% ;
    font-size: 18px ;
    padding-left: 5% ;
    font-family: sans-serif;
}


.form_box button{

    border-radius: 30px;
    display: block;
    padding: auto;
    margin: auto;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 60%;
    height: 45px;
    background-color: transparent;
    font-size: 100%;
    font-weight: 550;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(45deg, #ff2770, #25252b);
    transition: all 0.2s ease;
}

button:hover {
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: scale(1.1); /* Slightly grows */
    box-shadow: 0 8px 20px rgba(255, 39, 112, 0.5);
}

.form_box button:hover {
    transform: rotate(-2deg) scale(1.1);
}

button :hover{
    box-shadow: 15px 15px 15px 15px rgba(255, 39, 112, 0.6);
}

.form_box button:hover {
    color: #ffeb3b; /* changes text to bright yellow on hover */
}


.form_box i{
    position: absolute;
    right: 24%;
    transform: translateY(70%);
    font-size: 20px;
    color: white;
}

.diagonal{
    position: absolute;
    left: 30%;
    top: -30%;
    left: 50%;
    height: 200px;
    width: 330px;
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: rotate(25deg) skewY(27deg);

}

/* If the width drops below 300px, then diagonal style disappears */
@media (max-width: 300px){
    .diagonal{
        display: none;
    }
}

