*{
    margin: 0px;
    padding: 0px;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url("rgb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.loginDiv{
    position: relative;
    height: auto;
    padding: 20px 0;
    width: 90%;
    max-width: 450px;
    background:transparent;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 3px 8px 40px rgba(0, 255, 255, 1);
    overflow: hidden;
    transform: all 0.3s ease-in;
}

.loginDiv:hover {
    border-width: 4px; /* Slightly thicker border */
    box-shadow: 6px 12px 50px rgba(0, 255, 255, 1); /* Shadow grows a bit too */
}


.loginDiv h2{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.form_box input{

    display: block;
    margin: 5px auto;
    padding-left: 9px;
    border-radius: 20px;
    width: 65%;
    max-width: 450px;
    height: 35px;
    border: 0.5px solid black;
    font-size: 20px;
    gap: 0px;
}

.form_box label{
    color: aliceblue;
    display: block;
    text-align: center;
    width: 40%;
    padding-left: 5%;
    font-family: sans-serif;
}


.form_box button{

    border-radius: 30px;
    display: block;
    padding: auto;
    margin: auto;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 55%;
    height: 45px;
    background-color: transparent;
    font-size: 100%;
    font-weight: 550;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(45deg, #ff2770, #25252b);
    transition: all 0.4s ease;
}

button:hover {
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: scale(1.1); /* Slightly grows */
    box-shadow: 0 8px 20px rgba(255, 39, 112, 0.5);
}

.form_box button:hover {
    transform: rotate(-2deg) scale(1.1);
}

button :hover{
    box-shadow: 4px 3px 15px 5px rgba(255, 39, 112, 0.6);
}

.form_box button:hover {
    color: #ffeb3b; /* changes text to bright yellow on hover */
}


.form_box i{
    position: absolute;
    right: 19%;
    transform: translateY(70%);
    font-size: 20px;
}

.diagonal{
    position: absolute;
    left: 30%;
    top: -30%;
    left: 50%;
    height: 200px;
    width: 330px;
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: rotate(25deg) skewY(27deg);
}

/* If the width drops below 300px, then diagonal style disappears */
@media (max-width: 300px){
    .diagonal{
        display: none;
    }
}
